{
  "extends": "airbnb",
  "globals": {
    "document": true,
    "fetch": true,
    "process": true,
    "window": true
  },
  "parser": "babel-eslint",
  "rules": {
    "arrow-body-style": "off",
    "no-param-reassign": "off",
    "prefer-promise-reject-errors": "off",
    "react/jsx-filename-extension": "off",
    "react/forbid-prop-types": "off",
    "jsx-a11y/label-has-for": [
      2,
      {
        "components": ["Label"],
        "required": {
          "some": ["nesting", "id"]
        },
        "allowChildren": false
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  }
}
